
<!-- <header id="header">
    <div class="inner">
      <a href="dashboard" class="logo">Republic</a>
      <nav id="nav">
        <p class="lead mb-3">Welcome <%= user.name %></p> 
        <p>Welcome <%= user.name %></p> 
        <a href="events">Events</a>
        
      </nav>
    </div>
  </header> -->

  <nav class="nav navbar-expand-lg">
    
    <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button> -->
    <!-- <div class="collapse navbar-collapse" id="navbarText"> -->
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link"  href="/dashboard"><h2 style=" color:black; font-weight: 900"> Dashboard</h2></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/candidate_info"><h2 style=" color:black; font-weight: 900">Candidates</h2> </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/events"><h2 style=" color:black; font-weight: 900">Events</h2></a>
        </li>
        <li class="nav-item">
          <a class="nav-link"  href="/votes"><h2 style=" color:black; font-weight: 900">Vote</h2></a>
        </li>
      </ul>
      <ul style="text-align: right; background-position:100%; padding-right: 5%;">
        <li class="nav-item" style="align-items: right-justify;">
          <a class="nav-link"  href="/users/logout"><h2 style=" color:black; font-weight: 900">Logout</h2></a>
        </li>
      </ul>
      <!-- <div class="form-inline my-2 my-lg-0">
          <button class="btn" type="submit">Logout</button>
      </div> -->
    </div>
  </nav>