
<% include partials/header %>
<% include partials/menu%>
	
    
        <section id="banner">
            <div class="inner">
                <div>
                    <H1>Meet the Candidates</H1>
                </div>
                <div class="flex row">
                   
                    <article>
                        <!-- <div class="image round"> -->
                        <img  src="../public/images/BernieSanders.png" alt="Bernie" />
                        <!-- </div> -->
                        <header>
                            <h3>Bernie Sanders</h3>
                        </header>
                        <p>Not me. Us.</p>
                        <footer>
                            <a href="https://berniesanders.com/" class="button">Campaign page</a><br>
                            <a href="https://twitter.com/BernieSanders" > <button class="btn fill"><i class="fab fa-twitter"></i></button></a>  
                        </footer>
                    </article>
                
                    <article>
                        <!-- <div class="image round"> -->
                        <img src="../public/images/JoeBiden.jpeg" alt="Joe" />
                        <!-- </div> -->
                        <header>
                            <h3>Joe Biden</h3>
                        </header>
                        <p >Our Best Days Still Lie Ahead.</p>
                        <footer>
                            <a href="https://joebiden.com/" class="button">Campaign page</a><br>
                            <a href="https://twitter.com/JoeBiden" > <button class="btn fill"><i class="fab fa-twitter"></i></button></a> 
                        </footer>
                    </article>
                
                    <article>
                        <!-- <div class="image round"> -->
                        <img src="../public/images/ElizabethWarren.jpeg" alt="Elizabeth" />
                        <!-- </div> -->
                        <header>
                            <h3>Elizabeth Warren</h3>
                        </header>
                        <p>Warren's Got A Plan For That.</p>
                        <footer>
                            <a href="https://elizabethwarren.com/" class="button">Campaign page</a><br>
                            <a href="https://twitter.com/ewarren" > <button class="btn fill"><i class="fab fa-twitter"></i></button></a>
                        </footer>
                    </article>
                </div>

                <div class="flex row ">
                    <article>
                        <!-- <div class="image round"> -->
                        <img src="../public/images/MikeBloomberg.jpg" alt="Mike" />
                        <!-- </div> -->
                        <header>
                            <h3>Mike Bloomberg</h3>
                        </header>
                        <p>Together, we will get it done.</p>
                        <footer>
                            <a href="https://www.mikebloomberg.com/" class="button">Campaign page</a><br>
                            <a href="https://twitter.com/MikeBloomberg" > <button class="btn fill"><i class="fab fa-twitter"></i></button></a>
                        </footer>
                    </article>
                
                    <article>
                        <!-- <div class="image round"> -->
                        <img src="../public/images/PeteButtigieg.jpeg" alt="Pete" />
                        <!-- </div> -->
                        <header>
                            <h3>Pete Buttigieg</h3>
                        </header>
                        <p >Together we can beat <br> this president and build the<br>  era that must come next.</p>
                        <footer>
                            <a href="https://peteforamerica.com/" class="button">Campaign page</a><br>
                            <a href="https://twitter.com/PeteButtigieg" > <button class="btn fill"><i class="fab fa-twitter"></i></button></a>
                        </footer>
                    </article>
                
                    <article>
                        <!-- <div class="image round"> -->
                        <img src="../public/images/AmyKlobuchar.jpg" alt="Amy" />
                        <!-- </div> -->
                        <header>
                            <h3>Amy Klobuchar</h3>
                        </header>
                        <p>Amy for America</p>
                        <footer>
                            <a href="Project/OurProject-Republic/Project/resources/images/AmyKlobuchar.jpg" class="button">Campaign page</a><br>
                            <a href="https://twitter.com/amyklobuchar" > <button class="btn fill"><i class="fab fa-twitter"></i></button></a>
                        </footer>
                    </article>
                    
                </div>
                
    
            </div>
            <!-- Footer -->
			<div id="footer" style="background-image: url('../public/images/ActBlue.png');background-size: cover; background-repeat: no-repeat; background-attachment: relative;">
			
                <div class="flex "style="align-items: center; justify-content: center;">
                    <a href= "https://secure.actblue.com/" class="button2 btn-bot " >Donate Now!!!!</a>
                </div>
                <!-- <form action="#" method="post">

                
                </form> -->

				
			</div>
        </section>


    <% include partials/footer %>
