
    <!doctype html>
    <html lang="en" >
      <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        
      <!-- Materialize styles for this template-->
      <link href="../public/stylesheets/materialize.css" rel="stylesheet"> 
  
      <!-- Scripts  -->
      <script src="https://kit.fontawesome.com/9ff6827ca3.js" crossorigin= "anonymous"></script>
  
  
      </head>
      <body style="background-image: url('../public/images/DemBackground.png');background-size: cover;">
        
        
<div class="row mt-5">
  <div class="col-md-6 m-auto">
    <div class="card card-body text-center">
      <h1><i class="fab fa-node-js fa-3x"></i></h1>
      <p>Create an account or login</p>
      <a href="/users/register" class="btn btn-primary btn-block mb-2">Register</a>
      <a href="/users/login" class="btn btn-secondary btn-block">Login</a>
    </div>
  </div>
</div>
<!-- </div>
</section> -->
<% include partials/footer %>
